{% extends 'base.html' %}

{% block title %}Token Collector{% endblock %}

{% block content %}
<ul class="side-list horizontal">
    <li>Total points: 10</li>
</ul>
<div class="maze-container">
    <div class="grid-container">
        {% for i in range(10*10) %}
        <div class="grid-item path"
             hx-put="/maze/cell"
             hx-trigger="click"
             hx-swap="outerHTML"
             hx-include="#hidden-brush-select"
             hx-vals='{"index": "{{i}}"}'
        >
            <input class="hidden-grid-item" name="{{i}}" value="path"
                   style="display: none;">
        </div>
        {% endfor %}
    </div>
    <ul class="side-list">
        <li>Brushes:
            <ul id="brush-sublist" class="sublist">
                <li class="selected"
                    hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "path"}'>
                    <span class="color-rectangle path"></span> - Path
                </li>
                <li hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "wall"}'>
                    <span class="color-rectangle wall"></span> - Wall
                </li>
                <li hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "token-common"}'>
                    <span class="color-rectangle token-common">1</span> - Common
                </li>
                <li hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "token-rare"}'>
                    <span class="color-rectangle token-rare">2</span> - Rare
                </li>
                <li hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "token-unique"}'>
                    <span class="color-rectangle token-unique">5</span> - Unique
                </li>
                <li hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "token-legendary"}'>
                    <span class="color-rectangle token-legendary">10</span> - Legendary
                </li>
                <li hx-post="/select-brush"
                    hx-trigger="click"
                    hx-target="#brush-sublist"
                    hx-swap="outerHTML"
                    hx-vals='{"brush": "agent"}'>
                    <span class="color-rectangle agent"></span> - Agent
                </li>
                <select id="hidden-brush-select" name="brush" style="display: none;">
                    <option value="path"></option>
                    <option value="wall"></option>
                    <option value="token-common"></option>
                    <option value="token-rare"></option>
                    <option value="token-unique"></option>
                    <option value="token-legendary"></option>
                    <option value="agent"></option>
                </select>
            </ul>
        </li>
        <li>Settings:
            <ul class="sublist">
                <li class="setting-row">
                    <label for="grid-size">Grid size:</label>
                    <input hx-put="/maze"
                           hx-target=".grid-container"
                           hx-swap="outerHTML"
                           hx-trigger="change"
                           name="grid_size" type="range" min="2" max="15" step="1" value="10" class="slider"
                           id="grid-size">
                </li>
                <li class="setting-row">
                    <label for="population-size">Population size:</label>
                    <input name="population_size" type="number" min="1" max="1000000" value="1000"
                           id="population-size">
                </li>
                <li class="setting-row">
                    <label for="generation-size">Generations:</label>
                    <input name="generation_size" type="number" min="1" max="5000" value="50"
                           id="generation-size">
                </li>
            </ul>
        </li>
    </ul>
</div>
<button class="solve-button"
        hx-post="/solutions"
        hx-trigger="click"
        hx-target=".grid-container"
        hx-include=".hidden-grid-item, #grid-size, #population-size, #generation-size"
        hx-swap="outerHTML"

>Solve
</button>
{% endblock %}