/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:root {
    --color-button-primary: #66BB6A;
    --color-button-primary-light: #84D988;
    --color-button-primary-dark: #47A04B;
    --color-background: #334955;
    --color-path: #232f34;
    --color-path-light: #4b575c;
    --color-wall: #8b0000;
    --color-wall-light: #d35050;
    --color-common: #66BB6A;
    --color-common-light: #84D988;
    --color-rare: #29B6F6;
    --color-rare-light: #47d4ff;
    --color-unique: #CE93D8;
    --color-unique-light: #ECB1F6;
    --color-legendary: #ffa726;
    --color-legendary-light: #ffc544;
    --color-font-primary: #F3F6F9;
}

body, html {
    font-family: "General Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: fit-content;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    box-sizing: border-box;
}

h2 {
    color: var(--color-font-primary);
    padding: 0;
    margin: 1em 0;
}

.app-title {
    color: var(--color-font-primary);
    margin: 1em 0;
    font-weight: 700;
}

.flex-container {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maze-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.5rem;
    flex-grow: 3;
    height: 100%;
}

.grid-container.size-2-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-container.size-3-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-container.size-4-4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-container.size-5-5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-container.size-6-6 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid-container.size-7-7 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.grid-container.size-8-8 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.grid-container.size-9-9 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.grid-container.size-10-10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grid-container.size-11-11 {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.grid-container.size-12-12 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.grid-container.size-13-13 {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.grid-container.size-14-14 {
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.grid-container.size-15-15 {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border: rgba(0, 0, 0, 0.87) solid 2px;
    border-radius: 2px;
    color: whitesmoke;
    min-height: 1.5rem;
    font-weight: bold;
}

.path {
    background-color: var(--color-path);
}

.path:hover {
    background-color: var(--color-path-light);
}

.wall {
    background-color: var(--color-wall);
}

.wall:hover {
    background-color: var(--color-wall-light);
}

.token-common {
    background-color: var(--color-common);
}

.token-common:hover {
    background-color: var(--color-common-light);
}

.token-rare {
    background-color: var(--color-rare);
}

.token-rare:hover {
    background-color: var(--color-rare-light);
}

.token-unique {
    background-color: var(--color-unique);
}

.token-unique:hover {
    background-color: var(--color-unique-light);
}

.token-legendary {
    background-color: var(--color-legendary);
}

.token-legendary:hover {
    background-color: var(--color-legendary-light);
}

.side-list {
    border: rgba(0, 0, 0, 0.87) solid 2px;
    border-radius: 2px;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style-type: none;
    margin: 0;
    background-color: var(--color-path);
    color: var(--color-font-primary);
    padding: 20px 22px 20px 20px;
    box-sizing: border-box;
    font-weight: 700;
}

.side-list li {
    background-color: var(--color-path);
    border-radius: 2px;
    width: 100%;
    margin: 0;
}

.side-list.horizontal {
    width: 100%;
    flex-direction: row;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.side-list.horizontal li {
    text-align: center;
    width: fit-content;
    margin-bottom: -2px;
}

.solutions-list {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

#selected-solution {
    width: 100%;
    padding: 0;
}


.solutions-list li .label-floating {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    background-color: rebeccapurple;
    padding: 0.25em 0.75em;
    font-size: 0.85rem;
    border-radius: 2px;
}

#solutions {
    width: 100%;
    padding: 0;
    margin: 0;
}

.solutions-list li {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: var(--color-path);
    color: var(--color-font-primary);
    font-weight: bold;
    border: rgba(0, 0, 0, 0.87) solid 2px;
    border-radius: 2px;
    padding: 2em;
    margin-bottom: 1.5em;
}

.solutions-list li:hover {
    background-color: #35ccb9;
}

.solutions-list li.selected {
    background-color: #00695c;
}

#selected-solution .solutions-list li:hover {
    background-color: var(--color-path);
}

.selected {
    background-color: #35ccb9;
}

.solutions-list li .solution-cell {
    background-color: var(--color-path-light);
    border: rgba(255, 255, 255, 0.87) solid 2px;
    padding: 0.5em 1em;
    margin: 0.25em 0.25em;
    min-width: 4em;
    text-align: center;
}

.solutions-list li .solution-cell:hover {
    background-color: #35ccb9;
}

.color-rectangle {
    display: inline-block;
    width: 3em;
    height: 2em;
    margin: 5px 1px 5px 0;
    padding-top: 0.1em;
    vertical-align: middle;
    text-align: center;
    border-radius: 2px;
    border: rgba(255, 255, 255, 0.87) solid 2px;
}

.agent {
    background: repeating-radial-gradient(
            circle at 50% 50%,
            #F56E9D 0,
            #F56E9D 5px,
            #663039 5px,
            #663039 10px
    );
    color: var(--color-font-primary);
    font-weight: bold;
}

.agent.selected {
    background: none;
    background-color: #35ccb9;
}

.text-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sublist {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

.sublist li {
    padding: 5px 10px;
    font-weight: bold;
    border: rgba(255, 255, 255, 0.87) solid 2px;
    border-radius: 2px;
    margin-bottom: 0.5em;
}

.sublist li:last-of-type {
    margin-bottom: 0;
}

.sublist li.selected {
    background-color: #00695c;
}

.sublist li:hover {
    background-color: #35ccb9;
}

.solve-button {
    width: 100%;
    font-size: 1.25rem;
    text-transform: capitalize;
    margin: 1em;
    border: rgba(0, 0, 0, 0.87) solid 2px;
    padding: 1em 0;
    font-weight: bold;
    background-color: var(--color-button-primary-dark);
    color: var(--color-font-primary);
}

.solve-button:hover {
    animation: seizure 5s infinite;
}

.solve-button:active {
    animation: none;
    background-color: var(--color-button-primary-light);
    color: black;
}

.solving {
    animation: psychedelicAnimation 2s infinite alternate;
}

.setting-row {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
    height: 100vh;
}

@keyframes psychedelicAnimation {
    0% {
        background-image: radial-gradient(circle at center, #9400D3, #0000FF);
    }
    5% {
        background-image: radial-gradient(circle at center, #0000FF, #FF4500);
    }
    10% {
        background-image: radial-gradient(circle at center, #00FF00, #8A2BE2);
    }
    15% {
        background-image: radial-gradient(circle at center, #FFFF00, #FF0000);
    }
    20% {
        background-image: radial-gradient(circle at center, #9400D3, #FF4500);
    }
    25% {
        background-image: radial-gradient(circle at center, #FF0000, #FFFF00);
    }
    30% {
        background-image: radial-gradient(circle at center, #FFFF00, #C71585);
    }
    35% {
        background-image: radial-gradient(circle at center, #8A2BE2, #00FF00);
    }
    40% {
        background-image: radial-gradient(circle at center, #00CED1, #C71585);
    }
    45% {
        background-image: radial-gradient(circle at center, #00FF7F, #008000);
    }
    50% {
        background-image: radial-gradient(circle at center, #32CD32, #00CED1);
    }
    55% {
        background-image: radial-gradient(circle at center, #FFFF00, #C71585);
    }
    60% {
        background-image: radial-gradient(circle at center, #00CED1, #FF8C00);
    }
    65% {
        background-image: radial-gradient(circle at center, #FF4500, #00CED1);
    }
    70% {
        background-image: radial-gradient(circle at center, #0000CD, #C71585);
    }
    75% {
        background-image: radial-gradient(circle at center, #DAA520, #0000CD);
    }
    80% {
        background-image: radial-gradient(circle at center, #87CEEB, #00BFFF);
    }
    85% {
        background-image: radial-gradient(circle at center, #00FA9A, #9400D3);
    }
    90% {
        background-image: radial-gradient(circle at center, #ADFF2F, #00FF7F);
    }
    95% {
        background-image: radial-gradient(circle at center, #FFD700, #C71585);
    }
    100% {
        background-image: radial-gradient(circle at center, #9400D3, #ADFF2F);
    }
}

@keyframes seizure {
    0% {
        background-color: red;
        color: red
    }
    5% {
        background-color: #FF4500;
        color: #FF6347;
    }
    10% {
        background-color: orange;
        color: #FF1493;
    }
    15% {
        background-color: #FFD700;
        color: #FF69B4;
    }
    20% {
        background-color: yellow;
        color: #EE82EE;
    }
    25% {
        background-color: #ADFF2F;
        color: violet;
    }
    30% {
        background-color: #00FF00;
        color: indigo;
    }
    35% {
        background-color: #00FA9A;
        color: #8A2BE2;
    }
    40% {
        background-color: green;
        color: blue;
    }
    45% {
        background-color: #40E0D0;
        color: #1E90FF;
    }
    50% {
        background-color: cyan;
        color: cyan;
    }
    55% {
        background-color: #1E90FF;
        color: #40E0D0;
    }
    60% {
        background-color: blue;
        color: green;
    }
    65% {
        background-color: #8A2BE2;
        color: #00FA9A;
    }
    70% {
        background-color: indigo;
        color: #00FF00;
    }
    75% {
        background-color: violet;
        color: #ADFF2F;
    }
    80% {
        background-color: #EE82EE;
        color: yellow;
    }
    85% {
        background-color: #FF69B4;
        color: #FFD700;
    }
    90% {
        background-color: #FF1493;
        color: orange;
    }
    95% {
        background-color: #FF6347;
        color: #FF4500;
    }
    100% {
        background-color: red;
        color: red;
    }
}
