<div id="selected-solution" hx-swap-oob="true">
    {% if solutions|length > 0 %}
    <h2>Selected</h2>
    <ul class="solutions-list">
        <li>
            <span class="label-floating">#1 Total points: {{solutions[0]['total_points']}} Steps Taken: {{solutions[0]['steps_taken']}}</span>
            {% for cell in solution_path %}
            <span class="solution-cell">{{cell}}</span>
            {% endfor %}
        </li>
    </ul>
    {% endif %}
</div>
<div id="maze-grid" class="grid-container size-{{size}}-{{size}}">
    {% if cells|length == 0 %}
    {% for i in range(size*size) %}
    <div id="grid-item-{{i}}"
         class="grid-item path"
         hx-put="/maze/cell"
         hx-trigger="click"
         hx-swap="outerHTML"
         hx-include="#hidden-brush-select"
         hx-vals='javascript:{"index": "{{i}}", "prev_brush": "path", "points": document.getElementById("total-points").innerText}'
    >
        <input class="hidden-grid-item" name="{{i}}" value="path" style="display: none;">
    </div>
    {% endfor %}
    {% else %}
    {% for cell in cells %}
    <div id="grid-item-{{loop.index0}}"
         class="grid-item {{cell}}"
         hx-put="/maze/cell"
         hx-trigger="click"
         hx-swap="outerHTML"
         hx-include="#hidden-brush-select"
         hx-vals='javascript:{"index": "{{loop.index0}}", "prev_brush": "{{cell}}", "points": document.getElementById("total-points").innerText}'

    >
        {{loop.index0 if loop.index0 in solution_path else ''}}
        <input class="hidden-grid-item" name="{{loop.index0 }}" value="{{cell}}" style="display: none;">
    </div>
    {% endfor %}
    {% endif %}
</div>
<div id="solutions" hx-swap-oob="true">
    {% if solutions|length > 0%}
    <h2>Hall Of Fame</h2>
    <ul class="solutions-list">
        {% for solution in solutions %}
        <li hx-put="/solutions"
            hx-swap="outerHTML"
            hx-trigger="click"
            hx-include=".hidden-grid-item"
            hx-target="#solutions"
            hx-vals='{"solution_path": "{{solution["path"]}}", "solution_idx": "{{loop.index0}}", "grid_size": {{size}}, "solutions": "{{ solutions }}"}'
            class="{{'selected' if solution_path == solution.path else ''}}">
            <span class="label-floating">#{{loop.index0 + 1}} Total points: {{solution['total_points']}} Steps Taken: {{solution['steps_taken']}}</span>
            {% for cell in solution.path %}
            <span class="solution-cell">{{cell}}</span>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>