<div class="grid-container size-{{size}}-{{size}}">
    {% if cells|length == 0 %}
    {% for i in range(size*size) %}
    <div id="grid-item-{{i}}"
         class="grid-item path"
         hx-put="/maze/cell"
         hx-trigger="click"
         hx-swap="outerHTML"
         hx-include="#hidden-brush-select"
         hx-vals='javascript:{"index": "{{i}}", "prev_brush": "path", "points": document.getElementById("total-points").innerText}'
    >
        <input class="hidden-grid-item" name="{{i}}" value="path" style="display: none;">
    </div>
    {% endfor %}
    {% else %}
    {% for cell in cells %}
    <div id="grid-item-{{loop.index0}}"
         class="grid-item {{cell}}"
         hx-put="/maze/cell"
         hx-trigger="click"
         hx-swap="outerHTML"
         hx-include="#hidden-brush-select"
         hx-vals='javascript:{"index": "{{loop.index0}}", "prev_brush": "{{cell}}", "points": document.getElementById("total-points").innerText}'

    >
        {{loop.index0 if loop.index0 in solution_path else ''}}
        <input class="hidden-grid-item" name="{{loop.index0 }}" value="{{cell}}" style="display: none;">
    </div>
    {% endfor %}
    {% endif %}
</div>
<div id="solutions" hx-swap-oob="true">
    <h2>Solutions</h2>
    <ul class="solutions-list">
        {% for solution in solutions %}
        <li><span class="label-floating">#{{loop.index0 + 1}} Total points: {{solution['total_points']}} Steps Taken: {{solution['steps_taken']}}</span>
            {% for cell in solution.path %}
            <span class="solution-cell">{{cell}}</span>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>